@mixin style-list() {
    padding-left: 0;
    list-style: none;
}

@mixin center($width) {
    position: absolute;
    width: $width;
    left: 50%;
    margin-left: -($width/2);
}

@mixin text-main() {
    font-family: 'RalewayRegular';
    font-weight: normal;
    color: #fff;
    font-size: 14px;
}
@mixin text-tel() {
    font-family: 'RobotoBold';
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}
@mixin text-title() {
    font-family: 'PFCentroSlabProMedium';
    font-weight: normal;
    color: #2c3949;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

@mixin text-bold() {
    font-family: 'RalewayBold';
    font-weight: normal;
    font-size: 13px;
    color: #333333;
}

@mixin deals-img() {
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    top: 0;
    left: 50px;
}

@mixin account-img() {
    position: absolute;
    content: '';
    width: 14px;
    height: 116px;
    background: url(../../img/icons/section_3/Ellipse.png);
}