@font-face {
    src: url(../../fonts/RalewayBold/RalewayBold.woff);
    font-family: 'RalewayBold';
    font-weight: 600;  
}
@font-face {
    src: url(../../fonts/RalewayRegular/RalewayRegular.woff);
    font-family: 'RalewayRegular';
    font-weight: 300;  
}
@font-face {
    src: url(../../fonts/RobotoBold/RobotoBold.woff);
    font-family: 'RobotoBold';
    font-weight: 600;  
}

@font-face {
    src: url(../../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.woff);
    font-family: 'PFCentroSlabProMedium';
    font-weight: 300;  
}

@font-face {
    src: url(../../fonts/PFCentroSlabProBold/PFCentroSlabProBold.woff);
    font-family: 'PFCentroSlabProBold';
    font-weight: 600;  
}

@font-face {
    src: url(../../fonts/RalewaySemiBold/RalewaySemiBold.woff);
    font-family: 'RalewaySemiBold';
    font-weight: 600;  
}