.btn {
    background-color: $details-color;
    border: none;
    border-bottom: 3px solid #b97200;
    font-family: 'PFCentroSlabProBold';
    color: #111111;
    font-size: 20px;
    font-weight: bold;
    height: 45px;
    transition: all 0.4s;
    &:hover {
        background-color: $btn_hover;
    }
    &--request {
        width: 176px;
        margin-top: 30px;
        @include center(176px);
    }
    &--mark {
        margin-top: 70px;
        @include center(235px);
    }
    &--deals {
        margin-top: 60px;
        @include center(301px);
    }
    &--account {
        margin-top: 70px;
        @include center(371px);
    }
    &--advantages {
        margin-top: 60px;
        @include center(254px);
    }
    &--working {
        margin-top: 60px;
        @include center(247px);
    }
}