.heading-block {
    padding-top: 80px;
    max-width: 944px;
    margin: auto;
}

.heading-block__title {
    @include text-title();
    position: relative;
    margin-bottom: 60px;
    &--blue {
        color: #f9f9f9;
    }
    &:after {
        position: absolute;
        content: "";
        width: 165px;
        height: 4px;
        background-color: $details-color;
        bottom: -26px;
        @include center(165px);
    }
}

.heading-block__desc {
    @include text-main();
    color: #333333;
    font-size: 15px;
    text-align: center;
    &--blue {
        color: #e5e5e5;
    }
}

.heading-block__text-bold {
    font-family: 'RalewayBold';
}